.search-container {
	padding: 0 40px;
}

/* .work-container {
	padding: 0 40px;
	display: flex;
	flex-flow: row;
} */

.project-container {
	grid-template-columns: repeat(5, 1fr);
	max-width: fit-content;
	margin: auto;
	display: grid;
	grid-gap: 40px;
	padding-bottom: 5rem;
}

.input-wrapper {
	padding: 0 15px;
	max-width: 300px;
	background-color: #fff;
	width: 100%;
	/* border-radius: 10px; */
	height: 2.5rem;
	box-shadow: 0px 0px 8px #ddd;
	display: flex;
	align-items: center;
	margin: 0 0 2rem 0;
}

input {
	background-color: transparent;
	padding: 0 1rem;
	border: none;
	height: 100%;
	font-size: 1.25rem;
	width: 100%;
}

input:focus {
	outline: none;
}

.project-heading {
	text-align: center;
	padding: 4rem 0 2rem 0;
}

.card-header {
	display: flex;
	justify-content: space-between;
	/* padding: 0.5rem 0; */
}

.project-card {
	background: #1a1919;
	padding: 1.2rem 1rem;
}

.project-card img {
	width: 100%;
}

.project-title {
	color: #fff;
	padding: 0 2rem 0 0;
	text-align: justify;
}

.project-details p {
	padding-bottom: 1rem;
	font-size: 1.1rem;
	text-align: justify;
}

.project-btn {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0;
}

.project-btn .button {
	padding: 0.5rem 1rem;
}

.button-block {
	text-align: center;
	width: 50px;
	height: 50px;
	background: #1a1919;
	line-height: 50px;
	z-index: 999;
	border-radius: 5px;
}

@media screen and (max-width: 740px) {
	.project-container {
		max-width: 90%;
		margin: auto;
		grid-template-columns: 1fr;
	}
}
